flow_version = "latest"
mc_version = "latest"
flow_persist_results = true
flow_persist_remote_call_responses = false

domain_name = "flow.local"
flow_workspace_git_url = "https://gitlab.com/vyne/test-workspace.git"
